# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
myvenv/
venv/
.env

# -----------------------------
# Node / React
# -----------------------------
frontend/node_modules/
node_modules/
frontend/dist/
dist/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Python Testing
# -----------------------------
.pytest_cache/
.coverage

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/